<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Properties>
        <property name="pattern_file">
            %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{10} - %msg%n
        </property>
        <property name="pattern_console">
            %relative %-5level %logger{10} - %msg%n
        </property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
        <File name = "LogFile" fileName = "logs/log.txt" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
        <RollingFile name ="LogRollingFile" fileName="logs/log_roll.txt" append="true"
                     filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.txt">
            <PatternLayout pattern="${pattern_file}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="LogRollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>