@import url(https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap);

body {
    font-family: 'Noto Sans', sans-serif;
    color: #aeaeae;
    box-sizing: border-box;
    height: 110px;
    padding: 50;
    z-index: 2;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.logo {
    width: 100px;
}

nav{
    height: 50px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
}

.language-menu {
    margin-top: 10px;
    position: relative;
}

.selected-lang {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-right: 40px;
    align-items: center;
}

.selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://www.countryflags.io/ru/flat/32.png);
}

.selected-lang:lang(en_US)::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://www.countryflags.io/gb/flat/32.png);
}

.language-menu ul {
    margin: 0;
    padding: 0;
    background-color: #000000;
    border:1px solid #000000;
    box-shadow: 0 1px 10px rgba(0,0,0, 0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 30px;
    left: -15px;
    z-index: 3;
}

.language-menu ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.language-menu ul li a {
    width: 140px;
    display:block;
    padding: 5px 10px;
}

.language-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
}

.language-menu ul li a:hover {
    background-color: #453e3e;
}

.en:before{
    background-image: url(https://www.countryflags.io/gb/flat/32.png);
}

.ru:before{
    background-image: url(https://www.countryflags.io/ru/flat/32.png);
}

.language-menu:hover ul {
    display: block;
}
